.header-color {
  /*background: #833ab4;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #34e89e;
  background: -webkit-linear-gradient(to right, #0f3443, #34e89e);
  background: linear-gradient(to right, #0f3443, #34e89e);
}

.landing-grid {
  background: #34e89e;
  background: -webkit-linear-gradient(to right, #0f3443, #34e89e);
  background: linear-gradient(to right, #0f3443, #34e89e); 
  /*background: #833ab4;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 4rem;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
 
}
.Tech-used{
  font-style: italic;
  text-align: center;
  
}
.text-used {
  font-style: italic;
  font-weight: bold;
  font-size: large;
  text-align: center;
}
/* Resume Page css */
.resume-right-col {
  background: #27221F;
  color: white;
  padding: 2em;
}

/* contact page css */

.contacts-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contacts-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}


.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  /*font-size: 66px;*/
  padding-right: 2rem;
}

/* contact page css */
.avatar-img {
  height: 300px;
  width: 300px;
  border-radius: 100%;
}
.avatar-img-center{
  height: 300px;
  width: 300px;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 3em;
}

/*.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}*/
.banner-text{
  position: relative;
  bottom: auto;
  display: block;
  background: black;
  opacity: .9;
  width: 70%;
  height: 240;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  
}
.aboutme-paragraph{
  position: relative;
  background: black;
  color: white;
  opacity: .5;
  width: 90%;
  height: auto;
  margin: auto;
  border-radius: 10px;
  font-size: 18px;
  overflow: auto;
  padding: 10px;
}
/*.aboutme-paragraph{
  width: '75%';
  margin: 'auto';
  padding-Top: 1em;
  position: relative;
  background-color: #34e89e;
  height: 11vh;
  overflow: 'auto';
  text-align: justify;
  font-family: "raleway";
  font-weight: 900;
  padding-left: 5em;
  padding-right: 5em;
}*/
.banner-text h1 {
  font-size: 50px;
  font-weight: bold;
  color: white;
  overflow: auto;
  padding-top: 0;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 60%;
  margin: auto;
  padding: .5rem;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding-top: .1rem;
}

/*.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
} */

.social-links{
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin: auto;
  padding-top: .1rem;
}

.social-links i {
  color: #0e76a8;
  font-size: 5em;
  padding: 5px;
}
a:nth-child(2) i {
  color:#0e76a8;
  
}
.button-bootstrap{
  display: flex;
  justify-content: space-between;
  color: #7303c0;
}

.back{
  width: 100%;
  height: 100%;
  background: #34e89e;
  background: -webkit-linear-gradient(to right, #0f3443, #34e89e);
  background: linear-gradient(to right, #0f3443, #34e89e);
}
.resume-right-col {
  background: #34e89e;
  background: -webkit-linear-gradient(to right, #0f3443, #34e89e);
  background: linear-gradient(to right, #0f3443, #34e89e);
}
